@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans';
}

h1 {
    margin: 3rem auto;
    text-align: center;
    font-weight: 100;
    font-size: 1.5rem;
}

.styled-text {
  color: #fff;
}

.app {
  background: rgb(177, 177, 255);
}